.card {
    margin: 5px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));


}


.card-img-top {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

img {
    max-width: 100%;
    height: 150px;
    display: block;
}


a {
    line-height: inherit;
    color: #0865ab;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium';
}



.container-fluid {
    max-width: 1160px;
    height: 530px;
    margin: 30px 50px;
    border-radius: 5px;
}

.container {
    padding: 0 0px !important;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.ao-tabs-content-wrapper .ao-tabs-content {
    display: block;
}

.section-seperator-40-60 {
    background-color: #ffffff;
    border: 1px solid #e0e0ec;
    border-radius: 8px;
    display: flex;
    gap: 1px;

}

.calc-options-container {
    margin-bottom: 0;
    flex-basis: 40%;
    padding: 20px;
    border-right: 1px solid #e0e0ec;
}

.returns-est-container {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 12px;
}

.vector-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.content-container .description {
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #6a7582;
    margin-bottom: 0;
}

.sip-actions {
    padding-bottom: 30px;
    display: none !important;
}

.simple-sip-container.active {
    display: block;
}

.sip-amount-input-box {
    background-color: #ffffff;
    border: 2px solid #3F5Bd9;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.calc-options-container .sip-amount-input-box .sip-inner-box {
    text-align: center;
}

.sip-inner-box p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2a394e;
    margin-bottom: 4px !important;
}

.sip-input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sip-input-container .ao-input-number {
    width: 75px;
}

input.ao-input-number {
    box-sizing: border-box;
    max-width: 100%;
    height: unset;
    outline: unset;
    margin: unset;
    padding: unset;
    border: unset;
    border-radius: unset;
    background-color: unset;
    color: #2a394e;
    transition: unset;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}



.duration-slider-container {
    margin-bottom: 5px;
}

.heading-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.heading-wrapper .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.fake-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    border-bottom: 1px solid #e8ebf1;
    column-gap: 4px;
}

.fake-input-container .ao-input-number {
    text-align: center;
    width: 50px;
}

input.ao-input-number {
    box-sizing: border-box;
    max-width: 100%;
    height: unset;
    margin: unset;
    padding: unset;
    border: unset;
    border-radius: unset;
    background-color: unset;
    box-shadow: unset;
    color: #2a394e;
    transition: unset;
    appearance: textfiled;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}

.clone-duration-input {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

label {
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.8;
    color: #0a0a0a;
}

#duration {
    width: 100%;
    height: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.ao-range-slider {
    margin: 0px !important;
}

.ranges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ranges .min {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6a7582;
}

.ranges .max {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6a7582;
}

.expected-ror-slider-container {
    margin-bottom: 5px;
}

.expected-ror-input {
    width: 70px;
}

.clone-expected-ror-input {
    display: none;
}

#rate {
    width: 100%;
    height: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.range-slider-wrapper .ranges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.range-slider-wrapper .ranges .min {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6a7582;
}

.range-slider-wrapper .ranges .max {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6a7582;
}

.force-hide {
    display: none !important;
}

.range-slider-wrapper .heading-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.range-slider-wrapper .heading-wrapper .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.step-up-input {
    width: 50px;
}

.clone-step-up-input {
    display: none;
}

.ao-range-slider {
    border-radius: 8px;
    height: 7px;
    width: 400px;
    outline: none;

}

.calc-graph-container {
    flex-basis: calc(60% - 1px);
    padding: 20px 20px;
}

.opening-statement {
    text-align: center;
    margin-bottom: 0px;
    position: relative;
}

.opening-statement p span {
    font-weight: 600;
}

.investment-amount {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.investment-amount .amount {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.calc-graph-container .graph {
    margin-bottom: 30px;
    position: relative;
}

.display-wealth {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
    position: absolute;
    z-index: 1;
}

@media (min-width: 1024px) {
    .SIP-chart-parent {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .SIP-chart-parent .canvas-div {
        display: flex;
        justify-content: center;
        position: relative;
    }
}

@media (min-width: 1024px) {
    .SIP-chart-parent .canvas-div {
        box-sizing: border-box;
        display: block;
        width: 216px !important;
        height: 216px !important;
    }
}

#chartTooltip {
    position: absolute;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    min-width: 140px;
    max-width: 170px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    width: auto;
}

@media (min-width: 1024px) {
    .SIP-chart-parent .SIP-chart-child {
        width: 35%;
        padding-left: 40px;
        margin-top: 0;
    }
}

.legend-parent {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-bg {
    width: 8px;
    height: 100px;
    background: #ff7300;
    margin-right: 10px;
}

.legend-data {
    color: #000;
}

.legend-txt {
    color: #000;
    font-size: 18px;
    margin-bottom: 0 !important;
}

.legend-value {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #2a394e;
    margin: 0;
    text-align: left;
}

.legend-bg-violet {
    height: 48px;
    background: rgb(70, 70, 234);
}

.investNow {
    margin-top: 20px;
    align-items: flex-start;
    padding: 16px 24px;
    background: #3f5bd9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 250px;
    margin: 0 auto;
    text-decoration: none !important;
    color: #fff !important;
}

h3.title {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 1.43px;
    font-weight: 700;
    color: #2a394e !important;
}

.mc-desc-title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
    color: #2a394e;
    margin-bottom: 17px;
    margin-top: 30px;

}

.mc-desc-para {
    margin-bottom: 20px;
}