.brok-button-selected {
    background-color: rgba(46, 81, 255, 0.16) !important;
    color: #3f5bd9;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
}

.brok-button-non-selected {
    background-color: white !important;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
}

.charges-header {
    background: #2a394e !important;
}

.charges-table {
    font-size: 16px;
    line-height: 42px;
}

.netpl {
    background: rgb(248, 249, 252) !important;
}


table.charges-table td,
table.charges-table th {
    padding: 12px;
    text-align: left;
}

table.charges-table td:first-child,
table.charges-table th:first-child {
    width: 40%;
}

table.charges-table td:last-child,
table.charges-table th:last-child {
    width: 60%;
}

.margin-table th {
    font-size: 15px;
    line-height: 30px;
    color: #777d87;
    font-weight: 400;
    background-color: #f9f9f9
}

.margin-table tr {
    font-size: 15px;
    line-height: 30px;
    color: #777d87;
    font-weight: 400;
    background-color: #f9f9f9;
}

.margin-table-body td {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding: 15px;
}



select:disabled {
    background-color: white !important;
    cursor: not-allowed;
    color: grey;
}
