.form-child {
    font-size: 14px;
    font-weight: 500;
    color: #bbbdbf;
    line-height: 20px;
  }

  .calculate {
    background-color: #3f5bd9;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
  }

  .reset {
    color: #3f5bd9;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #3f5bd9 !important;
    border-radius: 4px;
    background-color: transparent;
    padding: 12px;
  }

  .input-shadow:focus {
    outline: none; /* Remove the default focus outline */
    border: 1px solid #e0e0ec; /* You can set your desired border color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add shadow effect on focus */
}

  .gratuity-child {
    width: 800px;
    margin-left: 10px;
    background: rgb(248, 249, 252);
  }
  
  .gratuity-form {
    padding: 30px 17px;
    border-bottom: #bbbdbf;
    background: #ffffff;
  }

  .gratuity-container {
    width: 95%;
    height: 29%;
    background: #ffffff;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  