.border-0 {
    border-width: 100px;
}


.flex-row {
    height: 300px;
}

.text-dark {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.input {
    font-weight: 450;
    font-size: 18px;
    line-height: 26px;
}

.custom-width {
    width: 1150px;
    margin-left: 10px;
}

input.input-number:focus {
    outline: unset;
    border: unset;
    background-color: unset;
    box-shadow: unset;
    transition: unset; 
}

/* * {
    font-family: 'Barlow', sans-serif !important;
} */

.amount {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.border-investedOrange {
    height: 50px;
    border-width: 8px !important;
    border-color: rgb(247, 116, 40) !important;
}

.border-returnsBlue {
    height: 50px;
    border-width: 8px !important;
    border-color: blue !important;
}

.border-returnsgrey {
    height: 50px;
    border-width: 8px !important;
    border-color: rgba(201, 195, 195, 0.776) !important;
}


input[type="range"]::-moz-range-progress {
    background-color: red; 
  }
  
  input[type="range"]::-moz-range-track {  
    background-color: blue;
  }

  .input-field {
    padding: 8px !important;
  }

  .slider {
    width: 455px;
    background: linear-gradient(to right, #3f5bd9 0%, #3f5bd9 16.7%, #E3EBF6 16.7%, #E3EBF6 100%) !important;
  }

  .disabled-input {
    background-color: #efefef;
    width: 100%;
  }
  .form-label {
    /* font-weight: 400;
    /* color: #2a394e; */
    /* font-size: 16px; */
    /* line-height: 25px; */ 
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
  }

  /* Highlight breadcrumb items on hover */
.breadcrumb-item a {
    color: #0056b3;
    background-color: #f8f9fa; 
  }
  
  .breadcrumb-item a:hover {
    background-color: #f8f9fa; /* Optional: change background on hover */
    color: #007bff; /* Default link color */
    text-decoration: none;
  }